@tailwind base;
@tailwind components;
@tailwind utilities;
nav {
    background-color: #fc8e00 !important;
    height: 80px;
    width: 100%;
    position: fixed;
    border-radius: 0 0 68px 0;
    z-index: 999;
    margin-top: 50px;
}
.blank {
    background-color: #e3e3e3 !important;
    height: 137px;
    width: 100%;
    overflow: hidden;
    margin-top: 18px;
}
