@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    margin-top: 200px;
    height: 100%;
    flex-direction: column;
}

.wrapper p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    background:  #fc8e00 ;
    padding: 28px 17px;
    border-radius: 10px;
}
